<!--
<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>filters</ion-title>
    </ion-navbar>
</ion-header>
-->

<ion-content class="bg-color">
  <div class="filter_container">
    <div class="header">
      <h2 class="d-flex">
        {{ 'filters' | translate }}
        <span class="end" (click)="dismiss()">{{ 'reset' | translate }}</span>
      </h2>
    </div>

    <ion-list radio-group no-lines>
      <h2>{{ 'sort_by' | translate }}</h2>
      <ion-item>
        <ion-label>{{ 'ratings' | translate }}</ion-label>
        <ion-radio checked="true" value="ratings" item-start></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>{{ 'price' | translate }}</ion-label>
        <ion-radio value="price" item-start></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>{{ 'recent' | translate }}</ion-label>
        <ion-radio value="recent" item-start></ion-radio>
      </ion-item>
    </ion-list>

    <ion-list radio-group no-lines>
      <h2>{{ 'price' | translate }}</h2>
      <ion-item>
        <ion-label>{{ 'paid' | translate }}</ion-label>
        <ion-radio checked="true" value="paid" item-start></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>{{ 'free' | translate }}</ion-label>
        <ion-radio value="prfreeice" item-start></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>{{ 'both' | translate }}</ion-label>
        <ion-radio value="both" item-start></ion-radio>
      </ion-item>
    </ion-list>

    <ion-list radio-group no-lines>
      <h2>{{ 'levels' | translate }}</h2>
      <ion-item>
        <ion-label>{{ 'beginner' | translate }}</ion-label>
        <ion-radio checked="true" value="beginner" item-start></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>{{ 'intermediate' | translate }}</ion-label>
        <ion-radio value="intermediate" item-start></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>{{ 'advanced' | translate }}</ion-label>
        <ion-radio value="advanced" item-start></ion-radio>
      </ion-item>
    </ion-list>

    <button ion-button block class="btn" (click)="dismiss()">{{ 'apply_filters' | translate }}</button>
  </div>
</ion-content>
