<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      {{ 'subscribe' | translate }}: {{ packet?.name_packet }}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="bg-color">
  <ion-list no-lines>
    <ion-item>
      <h2>{{ 'subscription_details' | translate }}</h2>
      <img class="packet-thumb" src="{{ packet?.thum_packet }}" />
      <div class="info">
        <h4>{{ 'course' | translate }}</h4>
        <span>{{ packet?.name_packet }}</span>
      </div>
      <div class="info">
        <h4>{{ 'created_by' | translate }}</h4>
        <span>{{ packet?.name_company }}</span>
      </div>
      <div class="calculator">
        <div class="price">
          <span>{{ 'price' | translate }}</span>
          <span>{{ packet?.price | currency: 'Rp' }}</span>
        </div>
        <div class="price">
          <span>{{ 'support' | translate }}</span>
          <span>{{ 0 | currency: 'Rp' }}</span>
        </div>
        <div class="price total">
          <span>{{ 'total' | translate }}</span>
          <span>{{ packet?.price | currency: 'Rp' }}</span>
        </div>
      </div>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer no-border>
  <button ion-button block class="btn" (click)="confirmSubscribeHandler()">
    {{ 'confirm' | translate }}
  </button>
</ion-footer>