<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ 'ongoing_courses' | translate }}
      <ion-icon class="material-icons end">search</ion-icon>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="bg-color">
  <ion-list no-lines>
    <my-packet *ngFor="let packet of dataMyPacket" [packet]="packet"
      (click)="goToMyCourseDetailsPage(packet.id_packet)"></my-packet>
  </ion-list>
</ion-content>