page-ongoingcourses {
  .list {
    margin-bottom: 0;
    position: relative;
    padding-top: 10px;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 50px;
      background: $theme-color;
      z-index: -1;
    }
  }
}
