packet {
  .packet {
    padding: 0;
    background: none;
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    width: calc(100% - 16px);
    margin: 0 auto;
    padding: 16px 18px 17px 0;
    margin-bottom: 8px;

    .image {
      margin: 0;
      position: relative;
      overflow: hidden;
      width: 110px;
      height: 76px;
      border-radius: 8px;
      margin-right: 19px;
      box-shadow: 3px 4px 11px rgba(0, 0, 0, 0.18);

      img {
        position: absolute;
        top: 0;
        left: -50% !important;
        right: -50% !important;
        bottom: 0;
        width: 100%;
        height: 100%;
        margin: auto;
      }
    }

    .item-inner {
      padding: 0;

      .label {
        margin: 0;
        white-space: normal;

        h3 {
          font-size: 1.2rem;
          font-weight: 500;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        h4 {
          font-size: 1.2rem;
          font-weight: 500;
          color: lighten($gray, 25%);
          padding-top: 4px;
        }

        .charges_rating {
          margin-top: 6px;

          h5 {
            color: $gray;
            font-weight: 500;
            font-size: 1.36rem;
          }

          h6 {
            display: flex;
            align-items: center;
            color: $gray;
            font-size: 1.3rem;

            .badge {
              background: $green_color;
              font-weight: 400;
              font-size: 1.2rem;
              padding: 3px 7px 3px 7px;
              margin: 0 5px;
            }
          }
        }
      }
    }

    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: calc(100% - 18px);
      height: 100%;
      border-radius: 8px;
      background: $white;
      z-index: -1;
    }
  }
}