<ion-item class="packet">
  <div class="image" item-start>
    <img src="{{ packet.thum_packet }}" />
  </div>
  <h3>{{ packet.name_packet }}</h3>
  <h4>By {{ packet.name_company }}</h4>
  <div class="charges_rating d-flex">
    <h5>{{ packet.price_packet_sale | currency: 'Rp' }}</h5>
  </div>
</ion-item>