<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ name_category }}
      <span class="end">
        <ion-icon class="material-icons" (click)="filters()">filter_list</ion-icon>
        <ion-icon class="material-icons">search</ion-icon>
      </span>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="bg-color">
  <ion-list no-lines>
    <packet *ngFor="let packet of dataPackets" [packet]="packet" (click)="goToCourseDetailsPage(packet.id_packet)">
    </packet>
  </ion-list>
</ion-content>