page-category {
  .header .toolbar .title .toolbar-title ion-icon {
    padding: 0 6px;
    font-size: 2rem;

    &:last-child {
      padding-right: 0;
    }
  }

  .list {
    margin-bottom: 0;
    position: relative;
    padding-top: 10px;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 50px;
      background: $theme-color;
      z-index: -1;
    }
  }
}
