<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ 'profile' | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="profile_img_box">
    <div class="profile_img">
      <img src="assets/imgs/profile.png" />
    </div>
    <ion-icon class="material-icons text-theme">photo_camera</ion-icon>
  </div>

  <form>
    <ion-list no-lines>
      <ion-item>
        <ion-icon class="material-icons text-theme" item-start>person</ion-icon>
        <ion-label fixed>Nama Depan</ion-label>
        <ion-input type="text" [(ngModel)]="currentUser.name" name="name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-icon class="material-icons text-theme" item-start>mail</ion-icon>
        <ion-label fixed>{{ 'email_address' | translate }}</ion-label>
        <ion-input type="text" [(ngModel)]="currentUser.email" name="email"></ion-input>
      </ion-item>
    </ion-list>
  </form>
</ion-content>
<ion-footer no-border>
  <button ion-button full class="btn" (click)="update()">{{ 'update_profile' | translate }}</button>
</ion-footer>
