page-myprofile {
  .scroll-content {
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100px;
      background: $theme-color;
      z-index: -1;
    }
  }

  .profile_img_box {
    margin: 0 auto;
    width: 105px;
    height: 105px;
    position: relative;
    overflow: hidden;
    z-index: 99;
    margin-top: 42px;

    .profile_img {
      width: 105px;
      height: 105px;
      margin: 0 auto;
      position: relative;
      overflow: hidden;
      border-radius: 50%;
      border: 2px solid $theme-color;

      img {
        position: absolute;
        top: 0;
        left: -50% !important;
        right: -50% !important;
        bottom: 0;
        width: 100%;
        height: auto;
        margin: auto;
      }
    }

    ion-icon {
      position: absolute;
      top: 0;
      right: 1px;
      font-size: 1.8rem;
      background: $white;
      width: 27px;
      display: block;
      height: 27px;
      line-height: 25px;
      border-radius: 50%;
      text-align: center;
      border: 1.5px solid $theme-color;
    }
  }

  .list {
    margin-bottom: 0;
    margin-top: 44px;

    .item {
      padding: 0;
      border: none !important;
      box-shadow: none !important;
      align-items: flex-start;
      width: calc(100% - 50px);
      margin: 0 auto;
      margin-bottom: 35px;
      position: relative;
      overflow: hidden;

      ion-icon {
        &[item-start] {
          margin: 0 !important;
          font-size: 2rem;
          margin-right: 20px !important;
        }
      }

      .item-inner {
        padding: 0;
        margin: 0;
        border-bottom: 1px solid lighten($gray, 30%) !important;
        box-shadow: none !important;
        align-items: flex-end;

        .input-wrapper {
          display: block;

          .label {
            margin: 0;
            width: 100%;
            max-width: 100%;
            font-size: 1.3rem;
            color: lighten($gray, 20%);
            margin-bottom: 5px;
          }

          .input {
            min-height: unset;

            .text-input {
              margin: 0;
              font-size: 1.7rem;
              font-weight: 500;
              margin-bottom: 8px;
            }
          }
        }

        ion-icon {
          &[item-end] {
            margin: 0;
            font-size: 1.7rem;
            color: lighten($gray, 20%);
          }
        }
      }
    }
  }

  .footer {
    .button.btn {
      margin: 0;
    }
  }
}
