<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title><span class="app_title">{{ 'app_title' | translate }}</span>
            <ion-icon class="material-icons end" (click)="goToNotificationPage()">notifications</ion-icon>
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="bg-color">
    <div class="banner">
        <div class="banner_img">
            <img src="assets/imgs/banner.png" />
        </div>
        <div class="banner_text">
            <ion-row>
                <ion-col col-8>
                    <h2>Belajar islam lebih dalam</h2>
                    <h1>Dengan Hompes!</h1>
                </ion-col>
                <ion-col col-4>
                    <!-- <button ion-button block class="btn">{{ 'know_more' | translate }}</button> -->
                </ion-col>
            </ion-row>
        </div>
        <ion-searchbar (ionInput)="getItems($event)" placeholder="{{ 'search_text' | translate }}"
            (click)="onClickSearchHandler()"></ion-searchbar>
    </div>

    <div class="courses_categories">
        <ion-list no-lines>
            <h2 class="d-flex" (click)="goToOngoingCoursesPage()">
                {{ 'ongoing_courses' | translate }} <span class="end text-theme">{{ 'view_all' | translate }}</span>
            </h2>
            <my-packet (click)="goToMyCourseDetails(packet.id_packet)" *ngFor="let packet of myPackets"
                [packet]="packet">
            </my-packet>
        </ion-list>

        <div class="top_categories">
            <h2 class="d-flex" (click)="goToOngoingCoursesPage()">
                {{ 'top_categories' | translate }} <span class="end text-theme">{{ 'view_all' | translate }}</span>
            </h2>

            <ion-row>
                <ion-col col-6 *ngFor="let x of packetCategories">
                    <div class="categori_box" (click)="goToCategoryPage(x.id_packet_master_category, x.name_category)">
                        <img src="{{ x.cover_category }}" />
                        <div class="text">
                            <h2>{{ x.name_category }}</h2>
                            <!-- <p>5 Courses</p> -->
                        </div>
                    </div>
                </ion-col>
            </ion-row>
        </div>
    </div>
</ion-content>