<!--
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>signup</ion-title>
</ion-navbar>
</ion-header>
-->

<ion-content>
  <div class="banner">
    <div class="logo">
      <img src="assets/imgs/logo.png" />
    </div>
  </div>

  <div class="form">
    <h2 text-center>{{ 'sign_up_woth_email_id' | translate }}</h2>
    <ion-list no-lines>
      <ion-item class="">
        <ion-input type="text" placeholder="{{ 'email_address' | translate }}" value=""></ion-input>
      </ion-item>
      <ion-item class="">
        <ion-input type="text" placeholder="{{ 'password' | translate }}" value=""></ion-input>
      </ion-item>
      <ion-row>
        <ion-col col-6>
          <ion-item class="">
            <ion-input type="text" placeholder="{{ 'create_password' | translate }}" value=""></ion-input>
          </ion-item>
        </ion-col>
        <ion-col col-6>
          <ion-item class="">
            <ion-input type="text" placeholder="{{ 'confirm_password' | translate }}" value=""></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-list>
    <button ion-button block class="btn" (click)="home()">{{ 'sign_up' | translate }}</button>
    <p text-center class="" (click)="singin()">
      {{ 'already_registered' | translate }}<span>{{ 'sign_in_now' | translate }}</span>
    </p>
  </div>
</ion-content>
