<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ 'support' | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="bg-color">
  <div class="banner" text-center>
    <img src="assets/imgs/hompes.png" />
  </div>
  <ion-list no-lines>
    <ion-item>
      <h2>{{ 'need_help' | translate }}</h2>
      <p>Jl. R.E. Martadinata No.35, RT.001/RW.009, Ciwaringin, Bogor Tengah, Kota Bogor, Jawa Barat 16124</p>
    </ion-item>

    <ion-item>
      <h2>{{ 'connect_us' | translate }}</h2>
      <h3 class="d-flex"><ion-icon class="material-icons">local_phone</ion-icon> +021-2545455</h3>
      <h3 class="d-flex"><ion-icon class="material-icons">mail</ion-icon> help@hompes.id</h3>
    </ion-item>

    <ion-item>
      <h2 item-start>{{ 'write_us_directly' | translate }}</h2>
      <div class="d-flex textarea_box" item-end>
        <ion-icon class="material-icons">mail</ion-icon>
        <ion-textarea placeholder="{{ 'your_message' | translate }}"></ion-textarea>
      </div>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer no-border>
  <button ion-button block class="btn">{{ 'submit' | translate }}</button>
</ion-footer>
