page-support {
  .banner {
    padding-top: 25px;
    padding-bottom: 25px;

    img {
      width: 180px;
    }
  }

  .list {
    .item {
      padding: 0;
      border-radius: 8px;
      width: calc(100% - 25px);
      margin: 0 auto;
      padding: 18px 20px;
      padding-bottom: 22px;
      margin-bottom: 8px;
      display: block !important;
      box-shadow: none !important;
      border: none !important;

      h2 {
        font-size: 1.6rem;
        font-weight: 500;
        padding-bottom: 15px;
        margin: 0 !important;
      }

      .item-inner {
        padding: 0;

        .label {
          margin: 0;
          white-space: normal;

          p {
            color: lighten($gray, 20%);
            margin: 0;
          }

          h3 {
            margin: 0;
            margin-bottom: 15px;
            font-weight: 500;
            font-size: 1.5rem;

            ion-icon {
              color: $theme-color;
              font-size: 1.8rem;
              margin-right: 25px;
            }

            &:last-child {
              margin-bottom: 0;
            }
          }
        }

        .textarea_box {
          margin: 0 !important;
          align-items: flex-start;
          padding-top: 10px;

          ion-icon {
            color: $theme-color;
            font-size: 1.8rem;
            margin-right: 20px;
          }

          ion-textarea {
            textarea {
              margin: 0 !important;
              border-bottom: 1px solid lighten($gray, 30%) !important;
              font-size: 1.3rem;
              height: 27px;
              min-width: unset;
              width: 100%;
            }
          }
        }
      }
    }
  }

  ion-footer {
    .button.btn {
      margin: 0;
      border-radius: 0 !important;
    }
  }
}
