<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ 'notifications' | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="bg-color">
  <ion-list no-lines>
    <ion-item class="active">
      <h2>Harison Willoma reolied to your question on Design Course, Lexture 5.</h2>
      <p>12:29 pm</p>
    </ion-item>
    <ion-item class="active">
      <h2>Smath Simth replied to your question on Business Course, Lecture 7/</h2>
      <p>11:33 am</p>
    </ion-item>
    <ion-item>
      <h2>Check out new UI/UX course by team Jerry you may like to see.</h2>
      <p>12:29 pm</p>
    </ion-item>
    <ion-item>
      <h2>Kelly Smith replied to your question on Business Course, Lecture 7.</h2>
      <p>12:29 pm</p>
    </ion-item>
    <ion-item>
      <h2>Harison Willoma reolied to your question on Design Course, Lexture 5.</h2>
      <p>12:29 pm</p>
    </ion-item>
    <ion-item>
      <h2>Smath Simth replied to your question on Business Course, Lecture 7/</h2>
      <p>11:33 am</p>
    </ion-item>
    <ion-item>
      <h2>Check out new UI/UX course by team Jerry you may like to see.</h2>
      <p>12:29 pm</p>
    </ion-item>
    <ion-item>
      <h2>Kelly Smith replied to your question on Business Course, Lecture 7.</h2>
      <p>12:29 pm</p>
    </ion-item>
    <ion-item>
      <h2>Harison Willoma reolied to your question on Design Course, Lexture 5.</h2>
      <p>12:29 pm</p>
    </ion-item>
    <ion-item>
      <h2>Harison Willoma reolied to your question on Design Course, Lexture 5.</h2>
      <p>12:29 pm</p>
    </ion-item>
  </ion-list>
</ion-content>
