.header .toolbar .toolbar-background {
  background-color: #5a8300;
  border: none !important;
}

ticket-thread-page {
  .header .toolbar .title .toolbar-title ion-icon {
    padding: 0 6px;
    font-size: 2rem;

    &:last-child {
      padding-right: 0;
    }
  }

  ion-content.mg-top-50 {
    top: 15px !important;
  }

  .thread {
    margin: 0;
    width: calc(100% - 16px);
    background: #fff;
    margin: 0 auto;
    overflow: hidden;
    margin-bottom: 7px;
    border-radius: 8px;
    box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 0.3);

    .item-inner .label {
      h3 {
        font-size: 1.2rem;
        color: lighten($gray, 20%);
        font-weight: 400;
        margin-bottom: 10px;

        span {
          &.text-theme {
            font-size: 1.25rem;
            font-weight: 500;
          }
        }
      }

      h4 {
        color: $theme-color;
      }

      p {
        color: darken($theme-color, 100%);
        font-size: 1.31rem;
        font-weight: 500;
        margin: 10px 0;
      }
    }

    .answer {
      margin-left: 15px;
    }
  }

  .footer {
    .button.btn[block] {
      border-radius: 0 !important;
      margin: 0;
      height: 50px;
      font-size: 1.7rem;
    }
  }
}