<ion-header class="">
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      {{ 'ticket_thread' | translate }}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="bg-color mg-top-50">
  <ion-list class="thread" no-lines>
    <ion-item>
      <h3 class="d-fleticket">
        ##{{ ticket?.id_ticket }} <span class="end">By {{ ticket?.name }}</span>
      </h3>
      <h4>{{ ticket?.title_ticket }}</h4>
      <p>{{ ticket?.ticket_content }}</p>
      <h3 class="d-fleticket">
        {{ ticket?.created_at }}
      </h3>
    </ion-item>
    <ion-item *ngIf="answers.length === 0">
      {{ 'no_answers_yet' | translate }}
    </ion-item>
    <ion-item *ngFor="let answer of answers" class="answer">
      <h3 class="d-fleticket">
        ##{{ answer?.id_ticket_answer }} <span class="end">By {{ answer?.name }}</span>
      </h3>
      <p>{{ answer?.answer }}</p>
      <h3 class="d-fleticket">
        {{ answer?.date_answer }}
      </h3>
    </ion-item>
  </ion-list>
</ion-content>