<ion-item class="my-packet">
    <div class="image-box" item-start>
        <img src="{{ packet.thum_packet }}" />
    </div>
    <h3>{{ packet.name_packet }}</h3>
    <h4>By {{ packet.name_company }}</h4>
    <div class="completion">
        <p class="text-theme" text-end>Sedang aktif</p>
        <!-- <p class="text-theme" text-end>35% {{ 'completed' | translate }}</p> -->
        <div class="progress-bar">
            <div class="indicator" style="width: 100%"></div>
        </div>
    </div>
</ion-item>