<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      {{ 'open_ticket' | translate }}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="bg-color">
  <ion-list no-lines>
    <ion-item class="section form">
      <h2>Open ticket for {{ bookContent?.title_book_content }}</h2>
      <ion-list no-lines>
        <ion-item>
          <ion-input type="text" placeholder="{{ 'title' | translate }}" [(ngModel)]="form.title_ticket">
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-textarea class="form-body" placeholder="{{ 'your_message' | translate }}"
            [(ngModel)]="form.ticket_content">
          </ion-textarea>
        </ion-item>
      </ion-list>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer no-border>
  <button ion-button block class="btn" (click)="handleSubmit()">
    {{ 'submit' | translate }}
  </button>
</ion-footer>