<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      {{ 'payment_confirmation' | translate }}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="bg-color">
  <ion-list no-lines>
    <ion-item class="section">
      <h2>{{ 'subscription_details' | translate }}</h2>
      <img class="packet-thumb" src="{{ packet?.thum_packet }}" />
      <div class="info">
        <h4>{{ 'course' | translate }}</h4>
        <span>{{ packet?.name_packet }}</span>
      </div>
      <div class="info">
        <h4>{{ 'created_by' | translate }}</h4>
        <span>{{ packet?.name_company }}</span>
      </div>
      <div class="calculator">
        <div class="price">
          <span>{{ 'price' | translate }}</span>
          <span>{{ packet?.price | currency: 'Rp' }}</span>
        </div>
        <div class="price">
          <span>{{ 'support' | translate }}</span>
          <span>{{ 0 | currency: 'Rp' }}</span>
        </div>
        <div class="price">
          <span>{{ 'unique_code' | translate }}</span>
          <span>{{ purchase?.unique_code | currency: 'Rp' }}</span>
        </div>
        <div class="price total">
          <span>{{ 'total' | translate }}</span>
          <span>{{ purchaseTotal | currency: 'Rp' }}</span>
        </div>
      </div>
    </ion-item>
    <ion-item class="section form">
      <h2>{{ 'payment' | translate }}</h2>
      <ion-list no-lines>
        <ion-item>
          <ion-input type="text" placeholder="{{ 'transfer_from_channel' | translate }}"
            [(ngModel)]="form.transferred_form_channel">
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="text" placeholder="{{ 'transfer_from_name' | translate }}"
            [(ngModel)]="form.transferred_form_name">
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="number" placeholder="{{ 'amount_paid' | translate }}" [(ngModel)]="form.amount_paid">
          </ion-input>
        </ion-item>
        <ion-item class="field-proof-of-payment">
          <span *ngIf="!form.file.uri">Proof of Payment</span>
          <span *ngIf="form.file.uri">
            {{ form.file.uri.split('/').pop() }}
          </span>
          <button item-end ion-button (click)="handlePickImage()">
            Upload
          </button>
        </ion-item>
        <ion-item *ngIf="form.file.uri">
          <img src="{{ form.file.uri | convertFileSource }}">
        </ion-item>
      </ion-list>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer no-border>
  <button ion-button block class="btn" (click)="handlePaymentConfirmation()">
    {{ 'confirm_payment' | translate }}
  </button>
</ion-footer>