payment-confirmation-page {
  .list {
    &:last-child {
      padding-top: 0;
    }

    padding-top: 15px;
    margin-bottom: 15px;

    .item.form {
      padding: 0;
      margin: 0;

      .field-proof-of-payment span {
        font-size: 12px;
      }
    }

    .item.section {
      padding: 0;
      border-radius: 8px;
      width: calc(100% - 25px);
      margin: 0 auto;
      padding: 18px 20px;
      padding-bottom: 22px;
      margin-bottom: 8px;
      display: block !important;
      box-shadow: none !important;
      border: none !important;

      .item-inner {
        padding: 0;
      }

      h2 {
        font-size: 1.6rem;
        font-weight: 500;
        padding-bottom: 15px;
        margin: 0 !important;
      }

      .row {
        .col {
          padding-left: 0;
          padding-right: 0;
        }
      }

      .packet-thumb {
        max-width: 100%;
        height: auto;
      }

      .info {
        margin-bottom: 10px;

        h4 {
          color: lighten($gray, 20%);
          font-weight: 500;
          font-size: 1.2rem;
        }

        span {
          font-size: 1.5rem;
        }
      }

      .calculator {
        margin-top: 25px;

        .price {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding-top: 10px;
          padding-bottom: 10px;
          border-top: 1px solid #eee;
        }

        .price.total {
          font-weight: bold;
        }
      }
    }
  }

  ion-footer {
    .button.btn {
      margin: 0;
      border-radius: 0 !important;
    }
  }
}