page-design {
  .header {
    overflow: hidden;

    .toolbar {
      padding-top: 15px;
      padding-bottom: 15px;
    }

    img {
      &.header_bg {
        position: absolute;
        top: -53px;
        z-index: -1;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: auto;
      }
    }

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background: $white;
      display: block;
      opacity: 0.2;
      z-index: -1;
    }
  }

  h2 {
    margin: 0;
    font-size: 1.5rem;
    letter-spacing: 0;
  }

  .recent_searches {
    background: $white;
    padding: 19px 0 10px 0;

    h2 {
      padding: 6px 23px 17px 23px;
    }

    ion-scroll {
      height: 123px;
      white-space: nowrap;

      .item_scroll {
        display: inline-block;
        width: 115px;
        overflow: hidden;
        margin: 0 6px;

        &:first-child {
          margin-left: 22px;
        }

        &:last-child {
          margin-right: 22px;
        }

        .img_box {
          width: 115px;
          height: 71px;
          border-radius: 3px;
          overflow: hidden;
          position: relative;

          img {
            position: absolute;
            top: 0;
            left: -50% !important;
            right: -50% !important;
            bottom: 0;
            width: 100%;
            height: 100%;
            margin: auto;
          }
        }

        h3 {
          margin: 0;
          font-size: 1.1rem;
          padding-top: 8px;
          white-space: normal;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        h4 {
          font-size: 0.9rem;
          color: $gray;
          margin: 0;
          margin-top: 3px;
        }
      }
    }
  }

  .select_subcatgories {
    background: $white;
    padding: 27px 22px 10px 22px;
    margin-top: 10px;

    h2 {
      padding-bottom: 14px;
    }

    h3 {
      margin: 0;
      font-size: 1.55rem;
      font-weight: 400;
      padding: 10px 0;

      span {
        color: lighten($gray, 20%);
        margin: 0 5px;
        font-size: 1.35rem;
      }
    }
  }
}
