<ion-header class="bg-transparent">
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Design <ion-icon class="material-icons end">search</ion-icon> </ion-title>
  </ion-navbar>
  <img src="assets/imgs/banner.png" class="header_bg" />
</ion-header>

<ion-content class="bg-color">
  <div class="recent_searches">
    <h2>{{ 'recent_searches' | translate }}</h2>
    <ion-scroll scrollX="true">
      <div class="item_scroll">
        <div class="img_box">
          <img src="assets/imgs/c8.png" />
        </div>
        <h3>Illustrator CC 2018 Master Class</h3>
        <h4>$20.00</h4>
      </div>
      <div class="item_scroll">
        <div class="img_box">
          <img src="assets/imgs/c6.png" />
        </div>
        <h3>3D animation full cource 2018</h3>
        <h4>$35.00</h4>
      </div>
      <div class="item_scroll">
        <div class="img_box">
          <img src="assets/imgs/c7.png" />
        </div>
        <h3>UX Design - From frame to photography</h3>
        <h4>$20.00</h4>
      </div>
      <div class="item_scroll">
        <div class="img_box">
          <img src="assets/imgs/c8.png" />
        </div>
        <h3>Illustrator CC 2018 Master Class</h3>
        <h4>$20.00</h4>
      </div>
      <div class="item_scroll">
        <div class="img_box">
          <img src="assets/imgs/c6.png" />
        </div>
        <h3>3D animation full cource 2018</h3>
        <h4>$35.00</h4>
      </div>
      <div class="item_scroll">
        <div class="img_box">
          <img src="assets/imgs/c8.png" />
        </div>
        <h3>UX Design - From frame to photography</h3>
        <h4>$20.00</h4>
      </div>
      <div class="item_scroll">
        <div class="img_box">
          <img src="assets/imgs/c7.png" />
        </div>
        <h3>Illustrator CC 2018 Master Class</h3>
        <h4>$20.00</h4>
      </div>
      <div class="item_scroll">
        <div class="img_box">
          <img src="assets/imgs/c6.png" />
        </div>
        <h3>3D animation full cource 2018</h3>
        <h4>$35.00</h4>
      </div>
      <div class="item_scroll">
        <div class="img_box">
          <img src="assets/imgs/c8.png" />
        </div>
        <h3>UX Design - From frame to photography</h3>
        <h4>$20.00</h4>
      </div>
    </ion-scroll>
  </div>

  <div class="select_subcatgories">
    <h2>{{ 'select_subcatgories' | translate }}</h2>

    <h3 class="d-flex" (click)="category()">Architecture <span>(68)</span></h3>
    <h3 class="d-flex" (click)="category()">Art History <span>(53)</span></h3>
    <h3 class="d-flex" (click)="category()">Design <span>(174)</span></h3>
    <h3 class="d-flex" (click)="category()">Fashion Design <span>(103)</span></h3>
    <h3 class="d-flex" (click)="category()">Film, Phtography & Media <span>(97)</span></h3>
    <h3 class="d-flex" (click)="category()">Graphic Design <span>(77)</span></h3>
    <h3 class="d-flex" (click)="category()">Industrial Design <span>(25)</span></h3>
    <h3 class="d-flex" (click)="category()">Interior Design <span>(18)</span></h3>

    <h3 class="d-flex" (click)="category()">Architecture <span>(68)</span></h3>
    <h3 class="d-flex" (click)="category()">Art History <span>(53)</span></h3>
    <h3 class="d-flex" (click)="category()">Design <span>(174)</span></h3>
    <h3 class="d-flex" (click)="category()">Fashion Design <span>(103)</span></h3>
    <h3 class="d-flex" (click)="category()">Film, Phtography & Media <span>(97)</span></h3>
    <h3 class="d-flex" (click)="category()">Graphic Design <span>(77)</span></h3>
    <h3 class="d-flex" (click)="category()">Industrial Design <span>(25)</span></h3>
    <h3 class="d-flex" (click)="category()">Interior Design <span>(18)</span></h3>
  </div>
</ion-content>
