<ion-menu [content]="content">
    <header></header>
    <sidebar></sidebar>
    <ion-footer no-border>
        <ion-list no-lines>
            <ion-item menuClose>
                <h2>{{ 'follow_us' | translate }}</h2>
                <div class="d-flex icon_box">
                    <img src="assets/imgs/fb.png" />
                    <img src="assets/imgs/tw.png" />
                    <img src="assets/imgs/you.png" />
                </div>
            </ion-item>
        </ion-list>


        <h2>{{pesan}}</h2>


    </ion-footer>
</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>