<ion-header class="bg-transparent">
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>
            <span class="end">
                <ion-icon class="material-icons">share</ion-icon>
                <ion-icon class="material-icons">search</ion-icon>
            </span>
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="bg-color">
    <div class="banner">
        <div class="banner_img">
            <img src="{{ dataPacket?.thum_packet }}" />
        </div>
        <ion-list no-lines>
            <ion-item>
                <h2>{{ dataPacket?.name_packet }}</h2>
                <div class="writer_rating d-flex">
                    <h5>By {{ dataPacket?.name_company }}e</h5>
                    <h6 class="end">
                        <ion-badge style="text-decoration:line-through">{{ dataPacket?.price | currency: 'Rp.' }}
                        </ion-badge>
                        <!--(125)-->
                    </h6>
                </div>

                <ion-segment [(ngModel)]="tab">
                    <ion-segment-button value="about">
                        {{ 'about' | translate }}
                    </ion-segment-button>
                    <ion-segment-button value="videos">
                        {{ 'book' | translate }}
                    </ion-segment-button>
                    <!-- <ion-segment-button value="reviews">
                        {{ 'reviews' | translate }}
                    </ion-segment-button> -->
                </ion-segment>
            </ion-item>
        </ion-list>
    </div>
    <div class="tab_container" [ngSwitch]="tab">
        <!-- About Start -->
        <ion-list no-lines *ngSwitchCase="'about'">
            <ion-item class="course_brief">
                <h2>{{ 'course_brief' | translate }}</h2>
                <ion-row>
                    <!-- <ion-col col-6 class="d-flex">
                        <ion-icon class="material-icons">timelapse</ion-icon>
                        <div class="text">
                            <h4>{{ 'total_timings' | translate }}</h4>
                            <h2>36 Hours</h2>
                        </div>
                    </ion-col>
                    <ion-col col-6 class="d-flex">
                        <ion-icon class="material-icons">ondemand_video</ion-icon>
                        <div class="text">
                            <h4>{{ 'total_videos' | translate }}</h4>
                            <h2>35 Lectures</h2>
                        </div>
                    </ion-col>
                    <ion-col col-6 class="d-flex">
                        <ion-icon class="material-icons">verified_user</ion-icon>
                        <div class="text">
                            <h4>{{ 'accessibility' | translate }}</h4>
                            <h2>Lifetime</h2>
                        </div>
                    </ion-col>
                    <ion-col col-6 class="d-flex">
                        <ion-icon class="material-icons">today</ion-icon>
                        <div class="text">
                            <h4>{{ 'course_uploaded' | translate }}</h4>
                            <h2>
                                {{ dataPacket?.created_at | date:"d MMM yy" }}
                            </h2>
                        </div>
                    </ion-col> -->

                    <ion-col col-6 class="d-flex" *ngFor="let x of dataDetail">
                        <ion-icon class="material-icons">{{ x.icon_mobile }}</ion-icon>
                        <div class="text">
                            <h4>{{ x.detail_packet }}</h4>
                            <!--<h2>36 Hours</h2>-->
                        </div>
                    </ion-col>
                </ion-row>
            </ion-item>
            <ion-item class="description">
                <h2>{{ 'description' | translate }}</h2>
                <p>
                    {{ dataPacket?.description_packet }}
                </p>
                <p>
                    {{ dataPacket?.excerpt_packet }}
                </p>
            </ion-item>

            <ion-item class="course_brief">
                <h2>Apa yang Saya pelajari?</h2>
                <ion-row>
                    <ion-col col-12 class="d-flex" *ngFor="let x of dataGoal">
                        <ion-icon class="material-icons">{{ x.icon_mobile }}</ion-icon>
                        <div class="text">
                            <h4>{{ x.goal }}</h4>
                            <!--<h2>36 Hours</h2>-->
                        </div>
                    </ion-col>
                </ion-row>
            </ion-item>

            <ion-item class="course_brief">
                <h2>Syarat-syarat</h2>
                <ion-row>
                    <ion-col col-12 class="d-flex" *ngFor="let x of dataRequirement">
                        <ion-icon class="material-icons">{{ x.icon_mobile }}</ion-icon>
                        <div class="text">
                            <h4>{{ x.requirement }}</h4>
                            <!--<h2>36 Hours</h2>-->
                        </div>
                    </ion-col>
                </ion-row>
            </ion-item>

            <ion-item class="created_by">
                <h2>{{ 'created_by' | translate }}</h2>

                <div class="d-flex creator_details">
                    <div class="img_box">
                        <img src="assets/imgs/logo-app.png" />
                    </div>

                    <div class="details">
                        <h3 class="d-flex" (click)="goToLecturerProfilePage()">
                            Team Hompes
                            <!-- <span class="end">{{ 'view_profile' | translate }}</span> -->
                        </h3>
                        <h4>{{ dataPacket?.name_company }}</h4>
                    </div>
                </div>
            </ion-item>
        </ion-list>
        <!-- About End -->
        <!-- Videos Start -->
        <ion-list no-lines *ngSwitchCase="'videos'" class="videos">
            <ion-list no-lines class="materi">
                <ion-item class="list_header">
                    <h2>Buku</h2>
                </ion-item>

                <ion-item *ngFor="let x of dataBooks">
                    <div class="student_details d-flex">
                        <div class="student_img">
                            <img src="{{ x.thum_cover_url }}" />
                        </div>
                        <div class="detail">
                            <h3 class="d-flex">{{ x.title_book }} </h3>
                            <h4>By {{ x.public_name }}</h4>
                        </div>
                    </div>
                </ion-item>
            </ion-list>

            <!--<ion-item>-->
            <!--<h2>Introduction to User Interface</h2>-->
            <!--<div class="video_details d-flex">-->
            <!--<h3>1.</h3>-->
            <!--<div class="text">-->
            <!--<h4>What is User Interface?</h4>-->
            <!--<h5>02:56 mins</h5>-->
            <!--</div>-->
            <!--</div>-->
            <!--<div class="video_details d-flex">-->
            <!--<h3>2.</h3>-->
            <!--<div class="text">-->
            <!--<h4>What is difference between UI & UX?</h4>-->
            <!--<h5>02:56 mins</h5>-->
            <!--</div>-->
            <!--</div>-->
            <!--</ion-item>-->
            <!--<ion-item>-->
            <!--<h2>Understandin of elemnts</h2>-->
            <!--<div class="video_details d-flex">-->
            <!--<h3>3.</h3>-->
            <!--<div class="text">-->
            <!--<h4>Which tool best for UI Design?</h4>-->
            <!--<h5>04:56 mins</h5>-->
            <!--</div>-->
            <!--</div>-->
            <!--<div class="video_details d-flex">-->
            <!--<h3>4.</h3>-->
            <!--<div class="text">-->
            <!--<h4>How to start with basic UI design?</h4>-->
            <!--<h5>02:56 mins</h5>-->
            <!--</div>-->
            <!--</div>-->
            <!--</ion-item>-->
        </ion-list>
        <!-- Videos End -->

        <!-- Reviews Start -->
        <!--
    <ion-list no-lines *ngSwitchCase="'reviews'" class="reviews">
      <ion-item class="">
        <h2>{{ 'overall_ratings' | translate }}</h2>
        <div class="rating_box d-flex">
          <div class="ratings" text-center>
            <h1>4.5</h1>
            <p>(125 reviews)</p>
          </div>
          <div class="reviews_box">
            <div class="d-flex reviews_conainer">
              <h6>
                5 Star
              </h6>
              <div class="rating_scale">
                <div class="rating_scale_active" style="width: 80%"></div>
              </div>
              <h6>
                101
              </h6>
            </div>

            <div class="d-flex reviews_conainer">
              <h6>
                4 Star
              </h6>
              <div class="rating_scale">
                <div class="rating_scale_active" style="width: 50%"></div>
              </div>
              <h6>
                12
              </h6>
            </div>

            <div class="d-flex reviews_conainer">
              <h6>
                3 Star
              </h6>
              <div class="rating_scale">
                <div class="rating_scale_active" style="width: 40%"></div>
              </div>
              <h6>
                07
              </h6>
            </div>

            <div class="d-flex reviews_conainer">
              <h6>
                1 Star
              </h6>
              <div class="rating_scale">
                <div class="rating_scale_active" style="width: 20%"></div>
              </div>
              <h6>
                04
              </h6>
            </div>
            <div class="d-flex reviews_conainer">
              <h6>
                2 Star
              </h6>
              <div class="rating_scale">
                <div class="rating_scale_active" style="width: 10%"></div>
              </div>
              <h6>
                02
              </h6>
            </div>
          </div>
        </div>
      </ion-item>
      <ion-list no-lines class="student_feedbacks">
        <ion-item class="list_header">
          <h2>{{ 'student_feedbacks' | translate }}</h2>
        </ion-item>

        <ion-item>
          <div class="student_details d-flex">
            <div class="student_img">
              <img src="assets/imgs/student1.png" />
            </div>
            <div class="detail">
              <h3 class="d-flex">Emili Williamson <span class="end">5.0</span></h3>
              <h4>20 March'18</h4>
            </div>
          </div>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text.
          </p>
        </ion-item>
        <ion-item>
          <div class="student_details d-flex">
            <div class="student_img">
              <img src="assets/imgs/student2.png" />
            </div>
            <div class="detail">
              <h3 class="d-flex">James Archer<span class="end">4.0</span></h3>
              <h4>08 March'18</h4>
            </div>
          </div>
          <p>
            Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical
            Latin literature from 45 BC, making it over 2000 years old.
          </p>
        </ion-item>
        <ion-item>
          <div class="student_details d-flex">
            <div class="student_img">
              <img src="assets/imgs/student1.png" />
            </div>
            <div class="detail">
              <h3 class="d-flex">Emili Williamson <span class="end">5.0</span></h3>
              <h4>20 March'18</h4>
            </div>
          </div>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text.
          </p>
        </ion-item>
        <ion-item>
          <div class="student_details d-flex">
            <div class="student_img">
              <img src="assets/imgs/student2.png" />
            </div>
            <div class="detail">
              <h3 class="d-flex">James Archer<span class="end">4.0</span></h3>
              <h4>08 March'18</h4>
            </div>
          </div>
          <p>
            Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical
            Latin literature from 45 BC, making it over 2000 years old.
          </p>
        </ion-item>
      </ion-list>
    </ion-list> -->
        <!-- Reviews End -->

    </div>
</ion-content>

<ion-footer class="d-flex" no-border>
    <div class="text">
        <h4>{{ 'lifetime_subscription' | translate }}</h4>
        <h2>{{ dataPacket?.price | currency: 'Rp' }}</h2>
    </div>
    <button ion-button block class="btn" (click)="goToSubscribePage()">
        {{ 'subscribe' | translate }}
    </button>
</ion-footer>