<ion-header>
  <ion-toolbar menuClose (click)="goToMyProfilePage()">
    <div class="profile_box d-flex">
      <div class="profile_img">
        <img src="assets/imgs/profile.png" />
      </div>
      <div class="profile_about">
        <h2>{{ currentUser?.name }}</h2>
        <h3>{{ 'view_profile' | translate }}</h3>
      </div>
    </div>
  </ion-toolbar>
</ion-header>
