page-search {
  .header {
    .row {
      box-shadow: 0 -2px 8px 0px rgba(0, 0, 0, 0.5);
      align-items: center;

      .col {
        padding: 0;

        ion-icon {
          color: lighten($gray, 20%);
        }
      }
    }

    ion-searchbar {
      padding: 0;
      width: 100%;
      background: $white;

      .searchbar-input {
        padding: 10px 19px 10px 46px;
        font-size: 1.5rem;
        box-shadow: none;

        &::-webkit-input-placeholder {
          color: lighten($gray, 20%);
        }

        &::-moz-placeholder {
          color: lighten($gray, 20%);
        }

        &:-ms-input-placeholder {
          color: lighten($gray, 20%);
        }

        &:-moz-placeholder {
          color: lighten($gray, 20%);
        }
      }

      .searchbar-search-icon {
        top: 17px;
        background-image: url(../assets/imgs/search.png) !important;
        background-size: 16px;
        width: 20px;
        height: 20px;
      }

      &.searchbar-ios {
        height: auto;

        .searchbar-input {
          padding: 10px 19px 10px 46px !important;
          font-size: 1.3rem;
        }

        .searchbar-search-icon {
          top: 7px;
          left: 17px;
        }
      }
    }
  }

  .recent_searches {
    width: calc(100% - 40px);
    margin: 0 auto;

    h3 {
      color: lighten($gray, 20%);
      font-size: 1.5rem;
      padding-bottom: 14px;
      margin: 0;
    }
  }

  h2 {
    margin: 0;
    font-size: 1.5rem;
    padding: 20px 0;
  }

  .packet-list {
    padding-top: 8px;
    width: calc(100% - 40px);
    margin: 0 auto;
  }
}
