<ion-header>
    <ion-row>
        <ion-col col-11>
            <ion-searchbar [(ngModel)]="searchInput" (keydown)="getItems($event)"
                placeholder="{{ 'search_text' | translate }}"></ion-searchbar>
        </ion-col>
        <ion-col col-1 (click)="dismiss()">
            <ion-icon class="material-icons" text-center>close</ion-icon>
        </ion-col>
    </ion-row>
</ion-header>

<ion-content>
    <ion-list class="packet-list">
        <packet *ngFor="let packet of packetList" (click)="goToCourseDetailsPage(packet.id_packet)" [packet]="packet">
        </packet>
    </ion-list>
</ion-content>