unpaid-subscription-list-page {
  .list {
    margin-bottom: 0;
    position: relative;
    padding-top: 10px;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 50px;
      background: $theme-color;
      z-index: -1;
    }

    .item {
      background: none;
      position: relative;
      overflow: hidden;
      border-radius: 8px;
      width: calc(100% - 16px);
      margin: 0 auto;
      padding: 16px 18px 17px 0;
      margin-bottom: 8px;

      .img_box {
        margin: 0;
        position: relative;
        overflow: hidden;
        width: 110px;
        height: 76px;
        border-radius: 8px;
        margin-right: 19px;
        box-shadow: 3px 4px 11px rgba(0, 0, 0, 0.18);

        img {
          position: absolute;
          top: 0;
          left: -50% !important;
          right: -50% !important;
          bottom: 0;
          width: 100%;
          height: 100%;
          margin: auto;
        }
      }

      .item-inner {
        padding: 0;

        .label {
          margin: 0;
          white-space: normal;

          h3 {
            font-size: 1.2rem;
            font-weight: 500;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            margin-bottom: 0;
          }

          h4 {
            font-size: 1.2rem;
            font-weight: 500;
            color: lighten($gray, 25%);
            padding-top: 4px;
            margin-bottom: 10px;
          }

          .meta,
          .price {
            font-size: 1rem;
            color: $gray;
            margin-bottom: 2.5px;
          }

          .price {
            text-transform: capitalize;
          }
        }
      }

      &::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: calc(100% - 18px);
        height: 100%;
        border-radius: 8px;
        background: $white;
        z-index: -1;
      }
    }
  }
}