<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      {{ 'notifications' | translate }}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="bg-color">
  <ion-list no-lines>
    <ion-item *ngFor="let purchase of data" (click)="goToSubscriptionPaymentConfirmationPage(purchase)">
      <div class="img_box" item-start>
        <img src="{{ purchase.thum_packet }}" />
      </div>
      <h3>{{ purchase.name_packet }}</h3>
      <h4>{{ purchase.name_company }}</h4>
      <div class="meta">
        {{ 'purchased_at' | translate }}: {{ purchase.date_purchase.format('D MMM YYYY') }}
      </div>
      <div class="price">
        {{ 'total' | translate }}: {{ purchase.price | currency: 'Rp' }}
      </div>
    </ion-item>
  </ion-list>
</ion-content>