<ion-content class="bg-color" style="top: 135px;">
  <ion-list no-lines>
    <ion-item menuClose *ngFor="let p of pages" (click)="openPage(p)">
      <h2>{{ p.title | translate }}</h2>
    </ion-item>
    <ion-item menuClose (click)="logOut()">
      <h2>{{ 'log_out' | translate }}</h2>
    </ion-item>
  </ion-list>
</ion-content>