<ion-header class="bg-transparent">
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <span class="end">
        <ion-icon class="material-icons">share</ion-icon>
        <ion-icon class="material-icons">bookmark_border</ion-icon>
      </span>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="bg-color">
  <div class="banner">
    <div class="video_box">
      <img src="{{ dataBook?.thum_cover_url }}" />
      <div class="video_controls">
        <!--<ion-row>-->
        <!--<ion-col col-4 text-center>-->
        <!--<ion-icon class="material-icons">skip_previous</ion-icon>-->
        <!--</ion-col>-->
        <!--<ion-col col-4 text-center>-->
        <!--<ion-icon class="material-icons pause_btn">pause</ion-icon>-->
        <!--</ion-col>-->
        <!--<ion-col col-4 text-center>-->
        <!--<ion-icon class="material-icons">skip_next</ion-icon>-->
        <!--</ion-col>-->
        <!--</ion-row>-->
      </div>
      <div class="video_footer d-flex">
        <div class="seekbar_time">
          <p class="d-flex">{{ dataSection?.length }} <span class="end">Section</span></p>
          <!--<div class="seekbar">-->
          <!--<div class="seekbar_active">-->
          <!--</div>-->
          <!--</div>-->
        </div>
        <ion-icon name="md-qr-scanner"></ion-icon>
      </div>
    </div>
    <div class="details">
      <h2>{{ dataBook?.title_book }}</h2>
      <h4>by {{ dataBook?.name_company }}</h4>
      <ion-segment [(ngModel)]="tab">
        <ion-segment-button value="lactures">
          {{ 'lactures' | translate }}
        </ion-segment-button>
        <!--<ion-segment-button value="Q_A">-->
        <!--{{'Q_A' | translate}}-->
        <!--</ion-segment-button>-->
        <ion-segment-button value="more">
          {{ 'more' | translate }}
        </ion-segment-button>
      </ion-segment>
    </div>
  </div>
  <div class="tab_container" [ngSwitch]="tab">
    <ion-list no-lines *ngSwitchCase="'lactures'">
      <ion-item *ngFor="let x of dataSection">
        <h2 class="d-flex">{{ x.book_section }} <ion-icon name="md-download" class="end"></ion-icon>
        </h2>
        <div class="video_details d-flex active" *ngFor="let y of x.content; let i = index"
          (click)="startReading(y.id_book_content)">
          <h3>{{ i + 1 }}.</h3>
          <div class="text">
            <h4>{{ y.title_book_content }}</h4>
            <h5>{{ y.time_book_content }} Menit</h5>
          </div>
        </div>
      </ion-item>
    </ion-list>

    <!--<ion-list no-lines class="Q_A" *ngSwitchCase="'Q_A'">-->
    <!--<ion-item>-->
    <!--<div class="item_header">-->
    <!--<h2 class="d-flex">Total 114 Questions-->
    <!--<span class="end">{{'all_lectures' | translate}}-->
    <!--<ion-icon class="material-icons">arrow_drop_down</ion-icon>-->
    <!--</span>-->
    <!--</h2>-->
    <!--</div>-->
    <!--</ion-item>-->
    <!--<ion-item>-->
    <!--<h3 class="d-flex">{{'lectures' | translate}} 5 <span class="end">By Ammy Georg</span></h3>-->
    <!--<h4>Which tool you have used in this video?</h4>-->
    <!--<p>In this video when you were creating logo for Ap splash, you openned one of software. I couldn, get any idea which software it was.?</p>-->
    <!--<h3 class="d-flex">28 May'18 | 12:48 <span class="end text-theme">{{'read' | translate}} 3 {{'replies' | translate}}</span></h3>-->
    <!--</ion-item>-->

    <!--<ion-item>-->
    <!--<h3 class="d-flex">{{'lectures' | translate}} 3 <span class="end">By Kelly Bold</span></h3>-->
    <!--<h4>I didn't understand the concept "Retine" !!</h4>-->
    <!--<p>What you mean you says retina resolutions, Does that mean a better pixel quality?</p>-->
    <!--<h3 class="d-flex">28 May'18 | 12:48 <span class="end text-theme">{{'read' | translate}} 3 {{'replies' | translate}}</span></h3>-->
    <!--</ion-item>-->
    <!--</ion-list>-->

    <ion-list no-lines class="more" *ngSwitchCase="'more'">
      <ion-item>
        <ion-icon class="material-icons text-theme" item-start>info</ion-icon>
        <h2 class="d-flex">{{ 'cource_descrption' | translate }}</h2>
      </ion-item>
      <ion-item>
        <ion-icon class="material-icons text-theme" item-start>share</ion-icon>
        <h2 class="d-flex">{{ 'share_this_course' | translate }}</h2>
      </ion-item>
      <ion-item>
        <ion-icon class="material-icons text-theme" item-start>bookmark</ion-icon>
        <h2 class="d-flex">{{ 'add_a_bookmark' | translate }}</h2>
      </ion-item>
      <ion-item>
        <ion-icon class="material-icons text-theme" item-start>thumb_up</ion-icon>
        <h2 class="d-flex">{{ 'reciew_this_cource' | translate }}</h2>
      </ion-item>
      <ion-item>
        <ion-icon class="material-icons text-theme" item-start>flip_to_front</ion-icon>
        <h2 class="d-flex">{{ 'view_similar_courses' | translate }}</h2>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
<ion-footer no-border>
  <button *ngIf="tab == 'Q_A'" ion-button block class="btn">{{ 'ask_question' | translate }}</button>
</ion-footer>