page-course {
  .header .toolbar .back-button.show-back-button {
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  }

  .header .toolbar .title .toolbar-title ion-icon {
    padding: 0 6px;
    font-size: 2rem;

    &:last-child {
      padding-right: 0;
    }

    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  }

  .scroll-content {
    margin-top: 0 !important;

    .banner {
      .video_box {
        position: relative;
        overflow: hidden;
        width: 100%;
        height: 220px;

        img {
          position: absolute;
          top: 0;
          left: -50% !important;
          right: -50% !important;
          bottom: 0;
          width: 100%;
          height: 100%;
          margin: auto;
        }

        .video_footer,
        .video_controls {
          position: absolute;
          width: 100%;
          height: 38px;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          margin: auto;
          color: $white;

          .row {
            .col {
              ion-icon {
                font-size: 2.5rem;

                &.pause_btn {
                  font-size: 3rem;
                }
              }
            }
          }
        }

        .video_footer {
          top: unset;
          height: auto;
          bottom: -1px;

          .seekbar_time {
            width: 100%;

            p {
              font-size: 1.5rem;
              font-weight: 400;
              margin: 0;
              margin-bottom: 5px;
              padding-left: 8px;
            }

            .seekbar {
              position: relative;
              display: block;
              overflow: hidden;
              width: 100%;
              height: 5px;
              background: rgba(255, 255, 255, 0.65);

              .seekbar_active {
                position: absolute;
                top: 0;
                left: 0;
                width: 40%;
                height: 10px;
                display: block;
                background: $theme-color;
              }
            }
          }

          ion-icon {
            font-size: 2.5rem;
            text-align: center;
            padding: 0 9px 0 15px;
          }
        }
      }

      .details {
        background: $white;
        padding: 16px 25px;
        width: calc(100% - 0);
        margin-bottom: 7px;
        box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 0.3);
        padding-bottom: 0;

        h2 {
          padding-bottom: 12px !important;
          font-size: 1.6rem !important;
          margin: 0;
        }

        h4 {
          color: lighten($gray, 20%);
          font-weight: 500;
          font-size: 1.2rem;
          margin: 0;
        }

        .segment {
          border: none;
          background: none;
          margin-top: 15px;

          .segment-button {
            border: none;
            background: none;
            text-transform: none;
            opacity: 1;
            font-size: 1.5rem;
            color: lighten($gray, 10%);
            position: relative;
            font-weight: 500;

            &.segment-activated {
              color: $theme-color;

              &::after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                margin: 0 auto;
                width: 75px;
                height: 3.5px;
                background: $theme-color;
              }
            }
          }
        }
      }
    }

    .list {
      margin: 0;
      width: calc(100% - 16px);
      margin: 0 auto;
      overflow: hidden;
      margin-bottom: 7px;
      border-radius: 8px;
      box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 0.3);

      .item {
        padding: 20px;
        margin: 0 auto;
        padding-bottom: 0;
        border-bottom: 1px solid lighten($gray, 30%) !important;

        &:last-child {
          border-bottom: 1px solid lighten($gray, 100%) !important;
        }

        .item-inner {
          padding: 0;
          min-height: unset;

          .label {
            white-space: normal;
            margin: 0;

            h2 {
              font-weight: 500;
              color: $gray;
              font-size: 1.35rem;
              padding-bottom: 20px;

              ion-icon {
                color: $theme-color;
                font-size: 2rem;
              }
            }

            .item_header {
              h2 {
                padding-bottom: 0;

                span {
                  color: $theme-color;
                  display: flex;
                  align-items: center;
                }
              }
            }

            .video_details {
              align-items: flex-start;
              padding-bottom: 20px;
            }

            h3 {
              color: $theme-color;
              margin-right: 10px;
              font-size: 1.55rem;
              font-weight: 500;
            }

            h4 {
              font-size: 1.55rem;
              font-weight: 500;
            }

            h5 {
              font-size: 1.4rem;
              font-weight: 400;
              color: lighten($gray, 20%);
            }

            &.active {
              h4 {
                color: $theme-color;
              }
            }
          }
        }
      }

      &.Q_A {
        position: relative;
        overflow: auto;
        background: $white;

        .item {
          padding-bottom: 10px;

          .item-inner .label {
            h3 {
              font-size: 1.2rem;
              color: lighten($gray, 20%);
              font-weight: 400;
              margin-bottom: 10px;

              span {
                &.text-theme {
                  font-size: 1.25rem;
                  font-weight: 500;
                }
              }
            }

            h4 {
              color: $theme-color;
            }

            p {
              color: darken($theme-color, 100%);
              font-size: 1.31rem;
              font-weight: 500;
              margin: 10px 0;
            }
          }
        }
      }

      &.more {
        .item {
          align-items: center;
          padding-bottom: 20px;

          ion-icon {
            &[item-start] {
              margin: 0 !important;
              margin-right: 20px !important;
              font-size: 2.3rem;
              position: relative;
              top: 4px;
            }
          }

          .item-inner {
            margin: 0;

            .label h2 {
              padding-bottom: 0 !important;
              color: darken($gray, 100%);
              font-size: 1.6rem;
            }
          }
        }
      }
    }
  }

  .footer {
    .button.btn[block] {
      border-radius: 0 !important;
      margin: 0;
      height: 50px;
      font-size: 1.7rem;
    }
  }
}
