<ion-header class="">
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <span class="end">
        <ion-icon class="material-icons">share</ion-icon>
        <ion-icon class="material-icons">bookmark_border</ion-icon>
      </span>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="bg-color mg-top-50">
  <div class="banner">
    <div class="details">
      <h2>{{ dataContent?.title_book_content }}</h2>
      <ion-segment [(ngModel)]="tab">
        <ion-segment-button value="lactures">
          Baca
        </ion-segment-button>
        <ion-segment-button value="Q_A">
          {{ 'Q_A' | translate }}
        </ion-segment-button>
        <ion-segment-button value="more">
          {{ 'more' | translate }}
        </ion-segment-button>
      </ion-segment>
    </div>
  </div>
  <div class="tab_container" [ngSwitch]="tab">
    <ion-list no-lines *ngSwitchCase="'lactures'">
      <div class="content-isi" [innerHTML]="dataContent?.book_content"></div>
    </ion-list>

    <ion-list no-lines class="Q_A" *ngSwitchCase="'Q_A'">
      <ion-item>
        <div class="item_header">
          <h2 class="d-flex">
            Total {{ dataTicket != null ? dataTicket.length : 0 }} Pertanyaan
            <!--<span class="end">{{'all_lectures' | translate}}-->
            <!--<ion-icon class="material-icons">arrow_drop_down</ion-icon>-->
            <!--</span>-->
          </h2>
        </div>
      </ion-item>
      <ion-item *ngFor="let x of dataTicket" (click)="goToTicketThreadPage(x)">
        <h3 class="d-flex">
          ##{{ x.id_ticket }} <span class="end">By {{ x.name }}</span>
        </h3>
        <h4>{{ x.title_ticket }}</h4>
        <p>{{ x.ticket_content }}</p>
        <h3 class="d-flex">
          {{ x.created_at }}
        </h3>
      </ion-item>
    </ion-list>

    <ion-list no-lines class="more" *ngSwitchCase="'more'">
      <ion-item>
        <ion-icon class="material-icons text-theme" item-start>info</ion-icon>
        <h2 class="d-flex">{{ 'cource_descrption' | translate }}</h2>
      </ion-item>
      <ion-item>
        <ion-icon class="material-icons text-theme" item-start>share</ion-icon>
        <h2 class="d-flex">{{ 'share_this_course' | translate }}</h2>
      </ion-item>
      <ion-item>
        <ion-icon class="material-icons text-theme" item-start>bookmark</ion-icon>
        <h2 class="d-flex">{{ 'add_a_bookmark' | translate }}</h2>
      </ion-item>
      <ion-item>
        <ion-icon class="material-icons text-theme" item-start>thumb_up</ion-icon>
        <h2 class="d-flex">{{ 'reciew_this_cource' | translate }}</h2>
      </ion-item>
      <ion-item>
        <ion-icon class="material-icons text-theme" item-start>flip_to_front</ion-icon>
        <h2 class="d-flex">{{ 'view_similar_courses' | translate }}</h2>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
<ion-footer no-border>
  <button *ngIf="tab == 'Q_A'" ion-button block class="btn"
    (click)="goToTicketSubmissionPage()">{{ 'ask_question' | translate }}</button>
</ion-footer>